* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

body { 
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110vh;
  width: 100vw;
}